.footer{background-color: rgb(24,24,24);
    margin: 0px;
    padding: 0%;
    height: 140px;
    
    }
.footer-content{padding:15px;
    color:#f7f7f7;
   text-align: left;
   
    font-family: 'Roboto', sans-serif;}